# Application Secret Key
SECRET_KEY=

# Postgres Database Settings
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Production Switch. Set to true if running the app in production mode.
PROD_MODE=False

# SMTP credentials for emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
