# Application Secret Key
SECRET_KEY=

# Postgres Database Settings
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Production Switch. Set to true if running the app in production mode.
PROD_MODE=False